<div ng-controller="UserController as uc" ng-cloak>
  <md-content style="background-color:#111;" ng-controller="PostController as pc">
    <md-nav-bar nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#/home" name="home">
        Home
      </md-nav-item>
      <md-nav-item md-nav-href="#/info" name="info">
        About 
      </md-nav-item>
      <md-nav-item md-nav-href="#/user" ng-click="pc.getUserInfo(pc.userService.userObject.userName)" name="user"  ng-if="uc.userService.userObject.id !== undefined">
        My Account
      </md-nav-item>
      <md-nav-item md-nav-click="pc.userService.showAddEdit()" name="add"  ng-if="uc.userService.userObject.id !== undefined">
        Add Post
      </md-nav-item>
      <md-nav-item md-nav-click="uc.userService.logout()" name="logout"  ng-if="uc.userService.userObject.id !== undefined">
        Log Out
      </md-nav-item>
      <md-nav-item ng-if="uc.userService.userObject.id == undefined" md-nav-click="uc.userService.showLogin()" name="login">
        Log In
      </md-nav-item>
      <md-nav-item ng-if="uc.userService.userObject.id == undefined" md-nav-click="uc.userService.showRegister()" name="register">
        Register
      </md-nav-item>
    </md-nav-bar>
  </md-content>
</div>