<div class="container" layout="row">
        <div layout="row" layout-align="center" style="border: 1px solid black; background-color: #333333; color: white;width:100%;">
            <div ng-if="pc.userService.userObject.userName === pc.userService.userToEdit.username" style="width:100%;">
                <form ng-submit="pc.userService.addEditedUser(pc.userService.userToEdit)" layout="column" layout-align="center" layout-wrap layout-margin="">
                        <label for="firstname">
                            First Name:
                        </label>
                        <input type="text" class="addInput" ng-value="pc.userService.userToEdit.firstname" ng-model="pc.userService.userToEdit.firstname"/>
                        <label for="lastname" />
                        Last Name:
                        </label>
                        <input type="text" ng-value="pc.userService.userToEdit.lastname" ng-model="pc.userService.userToEdit.lastname" class="addInput"/>
                        <label for="bio">
                            Bio:
                        </label>
                        <input type="text" class="addInput" ng-value="pc.userService.userToEdit.bio" ng-model="pc.userService.userToEdit.bio" />
                        <label for="profilepic">
                            Profile Picture:
                        </label>
                        <input type="text" class="addInput" ng-value="pc.userService.userToEdit.profilepic" ng-model="pc.userService.userToEdit.profilepic"/>
                            <div>
                        <md-button ng-click="pc.openPicker('user')" class="md-raised" style="margin-left:0px;font-weight:bold;">Upload Picture</md-button>
                        <h4 style="margin:0px;">Image URL not loading?
                            <a ng-click="">Click here</a>
                        </h4>
                        <md-button class="md-raised" style="margin-left:0px;font-weight:bold;" type="submit" name="submit">Edit user</md-button>
                    </div>
                </form>
            </div>
            <div layout="column" layout-margin="" ng-if="pc.userService.userObject.userName !== pc.userService.userToEdit.username" style="width:100%">
                <h1>
                    You are not authorized to change this user's information.
                </h1>
            </div>
        </div>
</div>