<div class="container" layout="row">
        <div layout="row" layout-align="center" style="color: white;width:100%;">
            <div ng-if="pc.userService.userObject.userName === pc.userService.userToEdit.username" style="width:100%;" layout-margin="">
                        <h1 class="lead dialogHead">Edit User</h1>
                <form ng-submit="pc.userService.addEditedUser(pc.userService.userToEdit)" layout="column" layout-align="center" layout-wrap layout-margin="">
                        <label for="firstname">
                            First Name:
                        </label>
                        <input  spellcheck="true" type="text" class="addItemInput" maxlength="30" ng-value="pc.userService.userToEdit.firstname" ng-model="pc.userService.userToEdit.firstname"/>
                        <label for="lastname" />
                        Last Name:
                        </label>
                        <input  spellcheck="true" type="text" ng-value="pc.userService.userToEdit.lastname" maxlength="30" ng-model="pc.userService.userToEdit.lastname" class="addItemInput"/>
                        <label for="bio">
                            Bio:
                        </label>
                        <textarea type="text" spellcheck="true" class="addItemText" ng-value="pc.userService.userToEdit.bio" maxlength="1000" ng-model="pc.userService.userToEdit.bio"></textarea>
                        <label for="profilepic">
                            Profile Picture:
                        </label>
                        <div style="max-height:200px;max-width:200px">
                            <img ng-src="{{pc.userService.userToEdit.profilepic}}" style="max-width:200px;max-height:200px;position:relative;" />
                        </div>
                            <div>
                        <md-button ng-click="pc.openPicker('user')" class="md-raised" style="margin-left:0px;font-weight:bold;">Upload Picture</md-button>
                        <md-button class="md-raised" style="margin-left:0px;font-weight:bold;" type="submit" name="submit">Update user</md-button>
                    </div>
                </form>
            </div>
            <div layout="column" layout-margin="" ng-if="pc.userService.userObject.userName !== pc.userService.userToEdit.username" style="width:100%">
                <h1>
                    You are not authorized to change this user's information.
                </h1>
            </div>
        </div>
</div>