<div class="container" layout="row" layout-align="center">
  <div style="text-align:center;width:100%;" position="absolute" flex="40" layout="column" layout-align="center
  center">
  <div>
    <br>
    <h1 class="abtHead">Words from the creator</h1>
    <p class="abtP">Memories should always be cherished. Oftentime, they can be forgotten; however, there are things in thise would that will bring back a blast from the past. I created Nostalia Trip with the hope that we can all come together and find joy in our memories that may have been temporarily forgotten.</p>
    <p class="abtP">-Xong</p>
  </div>
  <div>
    <h1 class="abtHead">Technologies Used</h1>
    <ul class="abtP" layout-margin="">
      <li>
        PostgreSQL
      </li>
      <li>
        Express
      </li>
      <li>
        Angular
      </li>
      <li>
        NodeJS
      </li>
      <li>
        Passport
      </li>
      <li>
        Angular Material
      </li>
      <li>
        Filestack API
      </li>
    </ul>
  </div>
  <div>
    <br>
    <h1 class="abtHead">Special Thanks To:</h1>
    <ul class="abtP" layout-margin="">
      <li>
        Prime Digital Acedemy Staff
      </li>
      <li>
        Deneb Cohort 
      </li>
      <li>
        My friends and family
      </li>
    </ul>
  </div>
  </div>
</div>