<div class="container" style="text-align:center;">
  <div>
  <h1>A message</h1>
  <p style="font-size: 20px">- Yours truly</p>
  </div>
  <br>
  <div>
    <h1>Some words</h1>
    <p style="font-size: 20px">- Myself</p>
  </div>
  <br>
  <div>
    <h1>About Nostalgia Trip</h1>
    <p style="font-size: 20px">This is what we are all about.</p>
  </div>
  <br>
  <div>
    <h1>Technologies Used</h1>
    <ul style="font-size: 20px">
      <li>
        PostgreSQL
      </li>
      <li>
        Express
      </li>
      <li>
        Angular
      </li>
      <li>
        NodeJS
      </li>
      <li>
        Passport
      </li>
      <li>
        Angular Material
      </li>
      <li>
        Filestack API
      </li>
    </ul>
  </div>
</div>