<div style="color: white" layout-margin="" layout="column" layout-align="center center" style="width:100%;height:100%">
    <h1 class="lead dialogHead">Login</h1>
    <form ng-submit="lc.login()" layout="column" layout-align="center" layout-margin="" style="width:100%;height:100%">
        <label for="username">Username:</label>
        <input  spellcheck="true" type="text"  maxlength="30" class="addItemInput" ng-model="lc.user.username" style="margin-bottom:5px;" />
        <label for="password">Password:</label>
        <input  spellcheck="true" type="password" maxlength="240" class="addItemInput" ng-model="lc.user.password" style="margin-bottom:5px;" />
        <div layout="row" layout-align="center" layout-margin="">
            <md-button type="submit" class="md-raised" name="submit" style="font-weight:bold;">Log In</md-button>
            <div layout="column" layout-align="center center">
                <p>Don't have an account?</p>
                <a ng-click="lc.userService.showRegister()">Click here to register</a>
            </div>t
        </div>
    </form>
</div>