<div class="container" layout="row">
  <div style="color: white;" layout-margin="" layout="row" layout-align="center">
    <div layout="row" layout-align="center">
      <div layout-align="center">
        <h1 class="lead dialogHead">Register User</h1>
        <form ng-submit="lc.registerUser()" layout="column" layout-align="center" layout-wrap layout-margin="">
          <div layout="row">
            <div flex="49">
              <label for="firstName">First Name:</label>
              <input spellcheck="true" type="text" maxlength="30" ng-model="lc.user.firstName" />
            </div>
            <div flex="49" style="margin-left:3px;">
              <label for="lastName">Last Name:</label>
              <input spellcheck="true" type="text" maxlength="30" ng-model="lc.user.lastName" />
            </div>
          </div>
          <label for="username">Username:</label>
          <input spellcheck="true" type="text" maxlength="30" ng-model="lc.user.username" />
          <label for="password">Password:</label>
          <input spellcheck="true" type="password" maxlength="240" ng-model="lc.user.password" />
          <label for="password2">Confirm Password:</label>
          <input spellcheck="true" type="password" maxlength="240" ng-model="lc.user.password2" />
          <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised" name="submit" style="font-weight:bold;" />Register</md-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>