<div class="container" ng-controller="PostController as pc">
    <br>
    <div layout-margin="">
        <h1>{{pc.returnedUser.data[0].username}}
        </h1>
        <md-button class="md-raised md-primary" ng-if="pc.userService.userObject.userName === pc.returnedUser.data[0].username" ng-click="pc.userService.editUser(pc.returnedUser.data[0]); uc.userService.showEditUser()">Edit Info</md-button>
    </div>
    <div>
        <div layout="row" layout-margin="">
            <div flex="20" class="bioImgBox" layout="row" layout-align="center center">
                <img ng-src="{{pc.returnedUser.data[0].profilepic}}"
                    class=" bioImg">
            </div>
            <div flex="3"></div>
            <div flex="80" class="bioInfo">
                <div layout="column" layout-margin="" layout-align="start start">
                    <div flex="10" class="">
                        <h2 class="bioItems">Name:</h2>
                         <p class="bioItems">{{pc.returnedUser.data[0].firstname}} {{pc.returnedUser.data[0].lastname}}</p>
                    </div>
                    <div flex="90" >
                        <h3 class="bioItems">Bio:</h3>
                         <p class="bioItems">{{pc.returnedUser.data[0].bio}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="pc.returnedUser.data[0].postname !== undefined" flex layout="row" layout-wrap>
            <div flex="33" class="itemCard" ng-repeat="post in pc.returnedUser.data">
                <md-card>
                    <img ng-src="{{post.postpic}}" class="md-card-image">
                    <md-card-title align="center">
                        <md-card-title-text>
                            <div class="md-headline" style="font-weight:bold;">{{post.postname}}</div>
                            <div>Posted by:
                                <a href="#/user" ng-click="pc.getUserInfo(post.username)">{{post.username}}</a>
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <h3>Description:</h3>
                        <p>
                            {{post.postdesc}}
                        </p>
                    </md-card-content>
                    <md-card-actions layout-margin="">
                        <h4>Enjoy this post?</h4>
                        <md-button class="material-icons md-18 md-raised" ng-click="pc.userService.postVote('up', post.p_id, post.votes)" style="margin: 0px 0px 0px 8px;">thumb_up</md-button>
                        <md-button class="material-icons md-18 md-raised" ng-click="pc.userService.postVote('down', post.p_id, post.votes)">thumb_down</md-button>
                        <p>{{post.votes}} people like to this.</p>
                        <md-button class="material-icons md-18 md-raised md-primary" ng-click="pc.userService.editPost(post)" ng-if="post.username === pc.userService.userObject.userName">edit</md-button>
                        <md-button class="material-icons md-18 md-raised md-warn" ng-click="pc.userService.deletePost(post.p_id)" ng-if="post.username === pc.userService.userObject.userName">delete</md-button>
                        <br>
                        <md-button class="md-raised" ng-click="pc.search(post.postname)" style="margin-top:5px; background-color: #333333; color:white; font-weight:bold;">learn more about this</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>